ul
{
    list-style-position: inside;
    margin-left: -40px;
    font-size: 16px;
}
span
{
    margin-left: 16px;
}
li
{
    padding: 12px;
    padding-left: 40px;
}
.odd
{
    background-color: #a5ccda;
    list-style-image: url(icons/unchecked_16.png);
}
.even
{
    background-color: #add8e6;
    list-style-image: url(icons/unchecked_16.png);
}
.checked
{
    background-color: #e2e2e2;
    list-style-image: url(icons/checked_16.png);
}
.checked-text
{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}
.cross
{
    color: darkred;
    font-weight: bold;
}