ul 
{ 
    background-color:pink;
    padding: 20px;
    list-style: decimal;
    list-style-position: inside;
} 
li 
{ 
    background-color: #da7899;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
} 
span 
{ 
    background-color: #9e354a;
    padding: 18px;
    margin-left: 6px;
} 